@{
    ViewBag.Title = "Your Library";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
    
</table>
<a class="btn btn-default" href="@Url.Action("Editor",
                                "Journal")">New Journal</a>